body {
	background: url(../../assets/img/bg-repeat.gif);
	background-color:#000;
}

a {
    color: #807e7e;
 
}
 
a:focus, a:hover {
    color: #ffffff;
 
}

.confess-btn, .comment-btn {
	background-color: rgba(60, 60, 60, 0.51);
    border: 1px solid rgba(60,60,60, 0.52);

    display: block;
    margin: 0 auto;
}

.confess-btn:hover, .comment-btn:hover {
	opacity: 1;
    background-color: rgba(60, 60, 60, 0.7);
    border: 1px solid rgba(60, 60, 60, 0.71);
}

#confession-textbox:focus, #comment-textbox:focus, #nick:focus {
	opacity:1;
	background:rgba(255,255,255,0);
	border:1px solid rgba(253,253,199,.5);
	-moz-box-shadow:inset 1px 3px 4px rgba(0,0,0,0);
	-webkit-box-shadow:inset 1px 3px 4px rgba(0,0,0,0)
}

#confession-textbox, #comment-textbox, .confession , #nick{
    color: #fdfdc7;
    margin: 20px auto 0;
    display: block;
    outline: 0;
    border: 1px solid rgba(99, 97, 97, 0.4);
    font-size: 18px;
    padding: 8px;
    opacity: .7;
    background: rgba(21, 21, 21, 0.75);
    -webkit-box-shadow: 0 0 5px rgba(50,50,50,.1);
    -moz-box-shadow: 0 0 4px rgba(50,50,50,.1);
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
}

.confession:hover{
	opacity:1;
	background: rgba(60, 60, 60, 0.5);
	border:1px solid rgba(60, 60, 60, 0.52);
	-moz-box-shadow:inset 1px 3px 4px rgba(0,0,0,0);
	-webkit-box-shadow:inset 1px 3px 4px rgba(0,0,0,0)
}

#confession-timestamp {
	color: #FEFEFE;
    opacity: .5;
    font-size: 12px;
    transition: opacity .2s linear;
    text-decoration: none;
}

#charNum {
	display: block;
    margin: 0 auto;
    color: #eee;
    text-align: center;
}

#conf-success, #comm-success {
	background-color: #fdfdc7;
    color: #000;
    display: none;
    text-align:center;
}

#conf-short, #conf-limit, #conf-error, #conf-captcha {
    background-color: #aa0e08;
    color: #fff;
    display: none;
    text-align:center;
}

.btn-confess {
	display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    color: #fdfdc7;
    background: rgba(56, 55, 55, 0.5);
    opacity: 0.6;
}

.btn-confess:focus, .btn-confess:hover {
	color: #fdfdc7;
	background: rgba(56, 55, 55, 0.7);
	opacity:1;

	}
.navbar-nav {
	padding-top: .425rem;
    padding-bottom: .425rem;
}

#good-looking {
	text-align: center;
    color: #eee;
}

h2#good-looking {
	margin-top: 30px;
}

/* Let's do some comments */

.com-single {
    font-size: 14px;
    background: rgba(50, 50, 50, 0.43);
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.21);
}

.commTime {
    float: right;
    letter-spacing: 1px;
    color: #f2f2f2;
    font-size: 12px;
    opacity: .5;
}

.comm-text {
    padding: 6px 40px 5px 10px;
    word-wrap: break-word;
    letter-spacing: 1px;
    color: #fefec7;
}

.comm-bottom {
    border-top: 1px solid #272727;
    margin-top: 3px;
    overflow: hidden;
    padding: 1px;
    cursor: default;
    background: rgba(50, 50, 50, 0.4);
}

.comm-author {
    color: #f2f2f2;
    margin-left: 5px;
    margin-top: 2px;
    font-style: oblique;
    position: relative;
    float: left;
    font-size: 13px;
}

.comm-single {
    font-size: 14px;
    background: rgba(50,50,50,.3);
    margin: 5px;
    cursor: pointer;
    border: 1px solid rgba(60,60,60,.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.21);
}

.comm-single:hover {
    font-size: 14px;
    opacity:1;
    margin: 5px;
    cursor: pointer;
    background: rgba(60, 60, 60, 0.5);
    border:1px solid rgba(60, 60, 60, 0.52);
}

.main-logo {
    position: absolute;
    left: 50%;
    height: 60px;
    transform: translateX(-50%);

    opacity: .7; 
    -webkit-filter: drop-shadow(0px 2px 3px #fdfdc7);
    transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
}

.main-logo:hover {
   opacity: 1; 
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.thumbsup, .thumbsdown, .commentbtn {
    height:32px;
    opacity: .7; 
    transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
}

.thumbsup:hover, .thumbsdown:hover, .commentbtn:hover {
    opacity: 1; 
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.thumbsdown:hover, .comm_voteDown:hover, .pressed {
    -webkit-filter: drop-shadow(0px 2px 3px #e62117);
    opacity: 1; 
}

.thumbsup:hover, .comm_voteUp:hover, .pressed {
    -webkit-filter: drop-shadow(0px 2px 3px #0275d8);
    opacity: 1; 
}

.commentbtn {
    height:32px;
    width:32px;
}

.comm_voteUp {
	float: right;
    width: 20px;
    height: 20px;
    opacity: .7;
    background: url(../../assets/img/thumbs-up.png) no-repeat;
    position: relative;
    cursor: pointer;
    background-size: 20px;
}

.comm_voteDown {
	float: right;
    width: 20px;
    height: 20px;
    opacity: .7;
    background: url(../../assets/img/thumbs-down.png) no-repeat;
    position: relative;
    cursor: pointer;
    background-size: 20px;
}

[class^=comm-votes] {
    float: right;
    font-size: 12px;
    margin-right: 7px;
    margin-left: 4px;
    margin-top: 2px;
    position: relative;
    color: #ccc;
}

#youtube {
display:block;
margin: auto;
}

.button-block {
    /* To correctly align image, regardless of content height: */
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
}

#button-inner {
    display: block;
}

span[class^="votesUp_count-"], span[class^="votesDown_count-"] {
    font-size:14px;
}

.comment_count {
    font-size:14px;
}

.fb_iframe_widget {
    display: block!important;
}

p.card-text {
    word-wrap: break-word;
}

@media (max-width: 992px) {

#comment-textbox, #confession-textbox {
    
    width: 280px;
}

.main-logo, .site-title {
    display: none;
}
.mobile-logo {
    height:38px;
}

.bg-honest {
    background-color: rgb(35, 36, 37)!important;
}

}

@media (min-width: 992px) {

#comment-textbox, #confession-textbox {
    
    width: 400px;
}

.mobile-logo {
    display: none;
}

.bg-honest {
    background-color: rgba(41, 43, 44, 0.7)!important;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
}

.bg-honest:hover {
    background-color: rgb(41, 43, 44)!important;
    -moz-box-shadow:inset 1px 3px 4px rgba(0,0,0,0);
    -webkit-box-shadow:inset 1px 3px 4px rgba(0,0,0,0)
}

}

.g-recaptcha div { margin-left: auto; margin-right: auto;}

.popular {
	background-color: rgba(201, 48, 44, 0.81);
    color: white!important;
    border-radius: .25rem;
}